<!-- rules.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rules</title>
</head>
<body style="background-color: #eee;">

    <!-- Rules Content -->
    <div>
        <h2>Rules</h2>
        <p>above</p>
        <p>below</p>
        <p>over</p>
        <p>under</p>
        <p>between lower to upper or between upper and lower </p>
        <p>“With” must be followed by “and” example best smartphone with 4gb and Redmi.</p>
        <p>price less than ______ rating greater than______</p>
        <p>Top smartphone of company ______ (by default shows 8) </p>
        <p>Brand_____ upto_____</p>
    </div>

</body>
</html>
